{% extends 'base.html'%}

{% block body_content%}

<h1>Send details:</h1>

<form action="" method ="post" novalidate>
    {{ form.hidden_tag() }}
<!-- Here we're defining a hidden tag. -->
<!-- Here we're using a block called 'form' which is action of an class we called. -->
<!-- When using the 'form' block we will put two tags/labels inside in order to insert out arguments/variables. -->
    <p> {{ form.username.label }}
        {{ form.username(size=32) }}   
<!-- Here we're defining a size of user input (to prevent errors or a massive amout of data from being recieved). -->
    </p>

    <p> {{ form.usermail.label }}
        {{ form.usermail(size=64)}}
 <!-- Same action as defining the username label. -->
    </p>

    <p> 
        {{ form.submit() }}

    </p>
</form>
{% endblock%}

<!-- In this file we didn't defined anything, we connected out variables and created labels. -->



<!-- this is how an html comment looks like -->